* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  color: whitesmoke;
  text-transform: uppercase;
  padding: 1rem;
  justify-content: flex-end;
  display: flex;
}

.main {
  height: 35rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./imgs/background.jpg) no-repeat;
  background-size: 100%;
}
#main:hover {
  font-size: 6.5rem;

  transition: 0.6s ease-in;
}

body {
  background-image: linear-gradient(to bottom, black, #adadad);
}

.middle {
  margin: auto;
}

.main h1 {
  display: inline;
  font-size: 6rem;
  font-family: "Abril Fatface", cursive;
  color: whitesmoke;
  letter-spacing: 4px;
  padding: 2rem;
  animation: tracking-in-expand 1s;
  animation-name: tracking-in-expand;
  cursor: pointer;
}

.button {
  padding-top: 2rem;
  padding-left: 90vh;
  display: block;
}
button {
  width: 8rem;
  font-size: 1rem;
  color: #c4660e;
  border: #c4660e double 4px;
  font-family: "Abril Fatface", cursive;
  padding: 0.7rem;
  background-color: transparent;
  display: block;
}

.edward {
  display: flex;
  padding: 10rem 4rem;
}

.edward img {
  box-shadow: 10px 10px rgba(247, 127, 7, 0.5);
}

#box {
  display: none;
  width: 350px;
  height: 350px;
  background-color: gray;
  opacity: 0.8;
  margin-top: 15px;
  padding: 1.6rem;
  cursor: pointer;
  align-items: center;
}

.intro {
  font-family: "Lobster", cursive;
  color: white;
  padding-top: 0;
  padding-bottom: 1rem;
  font-size: 6vh;
  align-self: centr;
  display: flexbox;
  margin: 3rem;
  cursor: pointer;
}

.intro:hover {
  font-size: 4rem;
  color: #c4660e;
  transition: 0.4s ease-in;
}

.box h3 {
  font-size: 4vh;
  text-align: right;
  padding-bottom: 0.4rem;
  font-family: "Crimson Text", serif;
  font-weight: bolder;
  color: black;
  text-transform: uppercase;
}

h4 {
  font-size: 2.5vh;
  padding: 1rem;
  font-family: "Cinzel", serif;
}

.container {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.middle h2 {
  color: white;
  font-size: 2rem;
  color: #cccbc4;
  font-family: "Crimson Text", serif;
  text-align: right;
  margin: 3rem;
  border-top: 0.1px solid #adadad;
}

.imgs img {
  width: 100%;
  height: 300px;
}

.imgs {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.8rem;
  column-gap: 0.8rem;
}

.imgs:hover {
  cursor: pointer;
}

p {
  color: white;
  padding-top: 1rem;
  font-family: "Cinzel", serif;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@media (max-width: 920px) {
  .button {
    padding-top: 2rem;
    padding-left: 10vh;
    display: block;
  }

  #current {
    width: 500px;
  }
  .imgs img {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 700px) {
  #box {
    display: none;
  }
}

@media (max-width: 600px) {
  .main {
    height: 24rem;
  }

  .main h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  .imgs img {
    width: 100%;
    height: 200px;
  }

  .imgs {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.3rem;
    column-gap: 0.3rem;
  }
}
